# git
.git
.gitignore

# docker
Dockerfile
docker-compose.yml
.dockerignore

# environment variables
.env*

# Logs
logs/
*.log

# binaries and builds
bikeboxes-collector
/bin/
/tmp/

# files
.idea/
.vscode/
*.swp
*.swo

# mongo data
mongodb-data/